<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> header}}
    <h1> My profile</h1>
    <a href='/profile/update'>Edit profile</a><br>
    Name: {{name}} <br>
    Email: {{email}}<br><br>
    <div>
        <h1>My posts</h1>
    </div>
</body>

</html>